<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Base Tools & utilities -->
    <packave id="webpi" />
    <package id="webpicommandline" />
    <package id="SourceCodePro" />
    <package id="Git.install" />
    <package id="PoshGIT" />

    <!-- Node -->
    <package id="nodejs.install" />

    <!-- Tools -->
    <package id="7Zip.install" />
    <package id="Curl" />
    <package id="Putty" />
    <package id="Python2-x86_32" />
    <package id="Vim" />
    <package id="Fiddler4" />
    <package id="SublimeText3" />
    <package id="SublimeText3.PackageControl" />
    <package id="SublimeText3.PowershellAlias" />
    <package id="BeyondCompare" />
    <package id="xUnit" />
    <package id="xUnit.VisualStudio" />

<!-- Optional
    <package id="console-devel" />
    <package id="ruby" />
-->
</packages>
