<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- Base Tools & utilities -->
    <packave id="webpi" />
    <package id="webpicommandline" />
    <package id="SourceCodePro" />
    <package id="console-devel" />
    <package id="Git.install" />
    <package id="GitHubForWindows" />
    <package id="PoshGIT" />

    <!-- Node -->
    <package id="nodejs.install" />

    <!-- Azure SDK's -->
    <package id="AzureNodeSDK" source="webpi" />
    <package id="WindowsAzurePowerShell" source="webpi" />
    <package id="VWDOrVs11AzurePack" source="webpi" /> <!-- Windows Azure SDK for .NET (VS 2012) - Latest -->

    <!-- Tools -->
    <package id="Curl" />
    <package id="Vim" />
    <package id="ruby" />
    <package id="python" />

    <!-- Apps -->
    <package id="7Zip.install" />
    <package id="Putty" />
    <package id="Fiddler" />
    <package id="SublimeText3" />
    <package id="SublimeText3.PackageControl" />
    <package id="BeyondCompare" />

</packages>
